html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}

img {
  width: 100%;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

nav ol li a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: .8rem;
  text-align: center;
}

main figure + p {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: bold;
}

p {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  line-height: 1.5;
  color: #222;
}

blockquote p {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
}

dl dt {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-weight: bold;
}

dl dd {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

.servings {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: .8rem;
}

strong {
  font-weight: normal;
}

footer a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #222;
  text-decoration: none;
}
